h1 {
    text-align: center ;
}
.mainWebsiteContainer{
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color: beige;
}
#picture-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: gray;
    border-color: blue;
    border-style:solid;
    border-width: 1px;
    min-width: fit-content;
    width: 400px;
    height: 400px;
}

.pixelFromDrawing{
    background: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 1fr;
    height: 1fr;

}
.pixelFromDrawing:hover{
    background-color: black;
}
.blackPixel{
    background-color: black;
}